@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700&family=Righteous&display=swap');

.root {
    font-family: 'Righteous', cursive;
    height: 667px;
}

.introScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FB6B6B;
    width: 100%;
    height: 100%;
}

.introScreen > img {
    width: 136px;
    height: 161px;
    margin-bottom: 24px;
}

.introScreen > h1 {
    font-size: 36px;
    color: #ffffff;
}

.introScreen .startButton {
    font-family: 'Recursive', sans-serif;
    width: 60%;
    height: 54px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 1px solid #D70900;
    border-radius: 5px;
    color:#D70900;
    font-size: 18px;
}

.introScreen .startButton:hover{
    cursor: pointer;
    transform: translateY(-1px);
}

.mainScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FB6B6B;
    width: 100%;
    height: 100%;
    position: relative;
    margin-bottom: 70px;
}

.mainScreen .footer {
    font-family: 'Recursive', sans-serif;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 18px;
}

.mainScreen .header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8%
}

.mainScreen .header .img {
    width: 52px;
    height: 60px;
}

.mainScreen .header > h1 {
    font-size: 36px;
    color: #ffffff;
    margin-left: 20px;
}